/*	body {
    #5985AD 
       font-family: 'Open Sans Condensed', sans-serif;
       background-color: #d9534f;
	}*/

/*body {
  background-image: url("desk.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed;
  }
*/

/* Smartphones (portrait and landscape) ----------- */

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}
/* Smartphones (landscape) ----------- */

@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */

@media only screen
and (max-width : 500px) {
/* Styles */
}
/* iPads (portrait and landscape) ----------- */

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */

@media only screen
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */

@media only screen
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */

@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}


h1{
font-color: black;
font-size: 80px;
position: absolute;
center: 500px;
right: 200px;
top: 430px;

margin: auto;
font-family: 'Slabo 27px', serif;

}

h2{
font-color: black;
font-size: 20px;
position: absolute;
center: 500px;
top: 510px;
right: 200px;
margin: auto;
font-family: 'Slabo 27px', serif;

}

h3{
font-color: white;
font-size: 80px;
position: absolute;
center: 0px;
margin: auto;
font-family: 'Slabo 27px', serif;


}

h4{
font-color: white;
font-size: 80px;
position: absolute;
center: 0px;
margin: auto;
font-family: 'Slabo 27px', serif;


}


h5{
font-color: white;
font-size: 50px;
position: absolute;
center: 0px;
margin: auto;
font-family: 'Slabo 27px', serif;
}

h6{
font-color: white;
font-size: 50px;
position: absolute;
center: 0px;
margin: auto;
font-family: 'Slabo 27px', serif;


}

body, html, main {
  height: 100%;
}

.cd-fixed-bg {
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
 
.cd-fixed-bg.cd-bg-1 {
  background-image: url("desk.jpg");

}
.cd-fixed-bg.cd-bg-2 {
  background-image: url("nl.jpg");
    height: 40%;
    min-height: 30%;   

}

.cd-scrolling-bg cd-color-2 {
  position: center;
  background-color: white;
  min-height: 30%;
  opacity: 0.5;
  position:relative;
  
  background: rgba(0,0,0,0.5);

}
<!-- background: rgba(255,255,255,.5) -->

.cd-fixed-bg cd-bg-2 {
 min-height: 40%;
}

.cd-scrolling-bg cd-color-3 {

  position: center;
  width: 500px;
  height: 500px;
  background-color: white;
   min-height: 50%;
  opacity: 0.5;
  position:relative;
  background: rgba(255,255,255,.5);

 

}

.cd-fixed-bg.cd-bg-3 {
  background-image: url("wall.jpg");
}
.cd-fixed-bg.cd-bg-4 {
  background-image: url("camera.jpg");
}
 
.cd-scrolling-bg {
  min-height: 50%;
  opacity: 0.5;
  position:relative;
  background: rgba(255,255,255,.5);
}

.cd-container{
font-family: 'Slabo 27px', serif;

  /*background : rgba( #f3f3f3, 0.75 );
  box-shadow : 0 1px 0.125em #333; */
  
} 


.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 24px;
  background: #6b686b;
  padding: 9px 22px 10px 28px;
  text-decoration: none;

  position:absolute;
  transition: .5s ease;
  left: 520px;
  top: 470px;

}

.btn:hover {
  background: #e0e0e0;
  text-decoration: none;
}

.btn2 {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 24px;
  background: #6b686b;
  padding: 9px 22px 10px 28px;
  text-decoration: none;

  position:absolute;
  transition: .5s ease;
  left: 710px;
  top: 470px;

}

.btn2:hover {
  background: #e0e0e0;
  text-decoration: none;
}

.contactme{
font-color: black;
font-size: 20px;
opacity: .9;
position: relative;
width: 500px;
height: 300px;
right: -283px;
top: 81px;
margin: auto;
font-family: 'Slabo 27px', serif;
}


.links {
  position: relative;
  position: absolute;
center: 500px;
top: 515px;
right: 497px;
margin: auto;
}



.transferingcircle {
 background-color: rgba(255,255,255,.7);
 
 height: 150px;
 width: 150px;
 -moz-border-radius:75px;
 -webkit-border-radius: 75px;
 opacity: 0.5;
 position: relative;
center: 500px;
left: 357px;
top: -225px;
margin-right: 0px;
}


.codecircle {
 background-color: rgba(255,255,255,.7);
 
 height: 150px;
 width: 150px;
 -moz-border-radius:75px;
 -webkit-border-radius: 75px;
 opacity: 0.5;
 position: relative;
center: 500px;
left: 357px;
top: -225px;
margin-right: 0px;
}

.ohlonebox {
 background-color: rgba(255,255,255,.7);
 
 height: 170px;
 width: 446px;
 -moz-border-radius:150px;
 -webkit-border-radius: 150px;
 opacity: 0.5;
 position: relative;
center: 500px;
right: -531px;
top: -400px;
margin: 21px;
margin-right: auto;
}

.code {
 background-color: rgba(255,255,255,.7);
 
 height: 120px;
 width: 446px;
 -moz-border-radius:150px;
 -webkit-border-radius: 150px;
 opacity: 0.5;
 position: relative;
center: 500px;
right: -531px;
top: -70px;
margin: 21px;
margin-right: auto;
}

.codeclasses{
position: relative;
height: 200px;
width: 350px;
left: 662px;
top: -305px;
font-family: 'Slabo 27px', serif;
opacity: 0.5px;
font-color: white;

}

.related-classes{
position: relative;
right: -90px;
top: 31px;
font-family: 'Slabo 27px', serif;
font-color: white;

}


.education {
position: relative;
left: 7px;
top: 309px;
margin: auto;
opacity: 0.5;
}

.classof {
  position: relative;
  left: -340px;
  top: -80px;
  font-family: 'Slabo 27px', serif;
  font-size: 20px;

}

<!-- Skills --> 

<!-- Creates the Hobbie Images --> 
 .flute_rounded, .pool, .code {}
  /*
  border: 3px solid #333;

  border-radius: 50%;
	width: 200px;
	height: 200px; 
	diplay: block;
	margin-left: auto;
	margin-right: auto;
  opacity: 0.2;
*/
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2
  
  -webkit-column-width: 150px;
  -moz-column-width: 150px;
  column-width: 150px;

    	}	

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  -moz-border-radius:20px;
  -webkit-border-radius: 20px;
  /*background-color: white;*/


}


 
ul.img-list li {
  border-radius: 50%;
  display: inline-block;
  height: 200px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 200px;

 
}
span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
    border-radius: 50%
}
 
span.text-content span {
  display: table-cell;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}
span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
  opacity: 0;
  border-radius: 50%;
}
 
ul.img-list li:hover span.text-content {
  opacity: 1;
   border-radius: 50%;
}
span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 200px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  border-radius: 50%;
}

<!-- Projects --> 
ul.projects {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  -moz-border-radius:20px;
  -webkit-border-radius: 20px;
  /*background-color: white;*/
}

ul.projects li {
  border-radius: 10%;
  display: inline-block;
  height: 200px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 350px;

 
}
span.explain {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
    border-radius: 50%
}
 
span.explain span {
  display: table-cell;
  border-radius: 10%;
  text-align: center;
  vertical-align: middle;
}
span.explain {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
  opacity: 0;
  border-radius: 10%;
}
 
ul.projects li:hover span.explain {
  opacity: 1;
   border-radius: 10%;
   font-family: 'Slabo 27px', serif;
}
span.explain {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 350px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  border-radius: 10%;
}




.skills2 {
  background-color:transparent;
  -moz-border-radius:18px;
  -webkit-border-radius:18px;
  border-radius:18px;
  border:1px solid #e8e3e8;
  display:inline-block;
  cursor:pointer;
  color:#0a0a0a;
  font-family:arial;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
}
.skills:hover {
  background-color:transparent;
}
.skill:active {
  position:relative;
  top:1px;
}


.photoshop {
 background-color: white;
 height: 200px;
 width: 200px;
 -moz-border-radius:75px;
 -webkit-border-radius: 106px;
 opacity: 0.5;
 position: relative;
 center: 500px; 
 left: 357px;
 top: -66px;
 margin-right: 0px;

} 

.cplusplus {
 background-color: black;
 height: 300px;
 width: 300px;
 -moz-border-radius:75px;
 -webkit-border-radius: 158px;
 
 position: relative;
 center: 500px; 
 left: 400px;
 top: 0px;
 margin-right: 0px;

} 


